<li>
    <img src="~/Library/User/images/bnr-1.jpg" alt="" />
</li>
<li>
    <img src="~/Library/User/images/bnr-2.jpg" alt="" />
</li>
<li>
    <img src="~/Library/User/images/bnr-3.jpg" alt="" />
</li>
